<html>
   <head>
      <title>After School Classes</title>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="stylesheet.css">
      <script src="products.js"></script>
   </head>
   <body>
      <div id="app">
         <header>
            <h1 id="title"> {{ sitename }}</h1>
            <hr>
            <br>
         </header>
         <main>
            <div v-if='showProduct'>
               <button id="checkoutBtn" @click='showCheckout' v-if='cart.length > 0'>  
               {{cartItemCount}}
               <span class ="fa fa-cart-plus"></span> Checkout
               </button>
               <br>
               <!-- v-if to check how many products with the particular id are in the shopping 
                  cart against what are available in the inventory of that particular product-->
               <span v-if="cart.length == 0" style="font-size: 20px; font-weight: bold;">
               Add something to cart!
               </span>
               <span v-else-if="cart.length > 0" style="font-size: 20px; font-weight: bold; padding:  5px;">
               Go to checkout
               </span>
               <!-- This button will be disabled otherwise -->
               <button disabled ='disabled' v-else>Checkout</button>
               <h1>Classes</h1>
               <div class="collection-sort">
                  <label>Sort by:</label>
                  <button @click = "sortLowestPrice" class="sortBtn">Price Ascending</button>
                  <button @click = "sortHighestPrice" class="sortBtn">Price Descending</button>
                  <button @click = "sortAlphaAsc" class="sortBtn">Location Ascending</button>
                  <button @click = "sortAlphaDesc" class="sortBtn">Location Descending</button>
                  <button @click = "sortTitleAsc" class="sortBtn">Subject Ascending</button>
                  <button @click = "sortTitleDesc" class="sortBtn">Subject Descending</button>
               </div>
               <br><br>
               <!--Using the for loop we are looping through the return of the sortedProducts computed property-->
               <!--This will give us a list sorted by Price-->
               <div class="products_container">
                  <div 
                     v-for="product in products"
                     :key="product.id">
                     <section class="products">
                        <div class="product_card">
                           <div class="product-image">
                              <figure>
                                 <img v-bind:src="product.image">
                              </figure>
                           </div>
                           <div class="product-info">
                              <h2 v-text ="product.title"></h2>
                              <p v-html ="product.location"></p>
                              <p> Price: £{{ product.price }} </p>
                              <!-- The button will display when 'Add to Cart is True -->                        
                              <!--When we click the Add To Cart are now passing the product and its ID to the function as parameters-->
                              <button @click='addToCart(product)' v-if='canAddToCart(product)'> Add to Cart </button>
                              <!-- v-if to check how many products with the particular id are in the shopping 
                                 cart against what are available in the inventory of that particular product-->
                              <span v-if="product.availableInventory === cartCount(product.id)">
                              Sold out!
                              </span>
                              <span v-else-if="product.availableInventory - cartCount(product.id) < 5">
                              Only {{product.availableInventory - cartCount(product.id)}} spaces left!!
                              </span>
                              <span v-else>Buy Now!</span>
                              <!-- This button will be disabled otherwise -->
                              <button disabled ='disabled' v-else>Add to Cart</button>
                              <!-- Star Rating -->
                              <div>
                                 <span v-for ="n in product.rating">&#9733;</span>
                                 <span v-for ="n in 5-product.rating">&#9734;</span>
                              </div>
                           </div>
                        </div>
                  </div>
                  </section>
               </div>
            </div>
            <div v-else>
               <button @click = 'showProduct = true' class="submitbtn">Go back to class list</button>
               <h2>Checkout</h2>
               <form>
                  <p>
                     <strong>First Name:</strong>
                     <!-- This input field is bound to 'firstName' in the 'order' object -->
                     <input id="firstName" required v-model.trim="order.firstName" type="text" pattern="[a-zA-Z]+" minlength="4" maxlength="10"/>
                  </p>
                  <p>
                     <strong> Last Name:</strong>
                     <!-- This input field is bound to 'lastName' in the 'order' object -->
                     <input type="text" required id="lastName"  v-model.trim="order.lastName" />
                  </p>
                  <p><strong>Phone (Add Country Code, Eg: 356 99768689): </strong><input id="phone" required v-model.number='order.phone' type="number"></p>
                  <button class="btn" type="submit" :class="{disabled: isDisabled}" :disabled="isDisabled" v-on:click="submitForm">Place Order</button>
               </form>
               <!-- This input field is bound to 'Zip' in the 'order' object -->
               <!-- This input field is bound to 'Is Gift' in the 'order' object -->
               <hr>
               <h2>Order Information:</h2>
               <p>First Name: {{order.firstName}}</p>
               <p>Last Name: {{order.lastName}}</p>
               <p>Phone: {{order.phone}}</p>
               <p> Order Items: </p>
               <template>
                  <ul class="list-group">
                     <li class="list-group-item" v-for="(product, index) in cart" :key="product.id">
                        {{product.title}}: £{{product.price}}
                        <button  @click = 'removeProduct(); removeProductID()' class="btn badge badge-warning float-right submitbtn">Remove</button>
                     </li>
                  </ul>
               </template>
            </div>
         </main>
      </div>
   </body>
   <script>
      var webstore = new Vue({
          
          el: '#app',
          data: {
              showProduct: true,
              sitename: 'After School Classes',
              cart: [],
              cartID: [],
              // array to store items in shopping cart,
              order: {
                  name: "",
                  phone_number:"",
              },
              products: products,
          },
          methods:{
              addToCart: function (product) {
                  this.cart.push({
                      id: product.id,
                      title: product.title,
                      price: product.price, })
                      this.cartID.push (product.id)
              },
              sortLowestPrice(){
                  this.products.sort((a,b) => a.price > b.price ? 1 : -1);
              },
              sortHighestPrice(){
                  this.products.sort((a, b) => a.price < b.price ? 1: -1);
              },
              sortAlphaAsc(){
                  this.products.sort((a,b) => a.location > b.location ? 1 : -1);
              },
              sortAlphaDesc(){
                  this.products.sort((a, b) => a.location < b.location ? 1: -1);
              },
              sortTitleAsc(){
                  this.products.sort((a,b) => a.title > b.title ? 1 : -1);
              },
              sortTitleDesc(){
                  this.products.sort((a, b) => a.title < b.title ? 1: -1);
              },
              addToCheckOutCart(product){
                  this.addToCheckOutCart.push(product);
              },
              showCheckout: function(){
                  this.showProduct = this.showProduct ? false : true;
              },
              submitForm(product){
                  alert('Your order has been placed')
                  this.cart.splice(product);
                  this.cartID.splice(product);
                  this.order.firstName = "";
                  this.order.lastName = "";
                  this.order.phone = "";
              },
                canAddToCart: function(product){
                  return product.availableInventory > this.cartCount(product.id);
              },
              canGoToCheckout(){
                  return cartItemCount.length > 0;
              },
              removeProduct(product){
                  this.cart.splice(product, 1);
              },
              removeProductID(product){
                  this.cartID.splice(product, 1);
              },
              //We introduce the cartCount Method to count the number of items of a particular type in the cart
              cartCount(id){
                  let count = 0;
                  for (let i = 0; i < this.cartID.length; i++){
                      if(this.cartID[i] === id){
                          count++
                      }
                  }
                  return count;
              }
          },
          
          computed: {
              isDisabled (){
              if (this.order.name.length > 2 && this.order.phone_number.toString().length > 10 && this.cart.length > 0 ) {
             return false;
              } else {
              return true;
               }
          },
              cartItemCount: function(){
                  return this.cartID.length;
              },
          }
      });
   </script>
</html>